.text-container {
  span {
    background-image: linear-gradient(black, black);
    background-position: 0 bottom;
    background-size: 0 3px;
    background-repeat: no-repeat;
    transition: 0.2s;


    &:hover {
    background-size: 100% 3px;
    }
  }
}
