@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

*, *::after, *::before {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
body {
  height: 95vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.big {
  width: 200px;
  height: 200px;
  background: linear-gradient(45deg, red, yellow);
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.small {
  height: 190px;
  width: 190px;
  background: #824600;
  border-radius: 20px;
}
