* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 400vh;
  background-color: black;
}

h1 {
  position: fixed;
}

button {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.progress-bar {
  position: fixed;
  background-color: red;
  height: 10px;
}
