* {
  box-sizing: border-box;
}

body {
  background-color: #feceac;
}

li {
  text-transform: capitalize;
}

input[name=edit] {
  display: none;
}

input.show {
  display: block;
}

button {
  margin: 5px;
  display: none;
}

h1 {
  text-transform: uppercase;
}
