* {
  box-sizing: border-box;
}

img {
  width: 150px;
  position: absolute;
  transition: 0.1s;
  display: none;
}

body {
  margin: 0;
  width: 100vw;
}

div {
  margin-top: 50px;
  position: relative;
  border: 1px solid black;
  border-right: 30px solid grey;
  height: 200px;
  width: 80%;
}
