@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
*:not(i), *::after:not(i), *::before:not(i) {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
}

html {
  font-family: "Muli", sans-serif;
  font-size: 14px;
}

body {
  background: #1E1E1E;
  margin: 0;
}

.page-inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

header .burger {
  height: 2em;
  width: 2em;
  position: relative;
  cursor: pointer;
}
header .burger .burger-line {
  height: 5px;
  width: 100%;
  background-color: #FBFBFB;
  border-radius: 5px;
  position: absolute;
}
header .burger .burger-line:nth-child(1) {
  transition: 0.3s;
  top: 0;
}
header .burger .burger-line:nth-child(2) {
  transition: 0.1s;
  top: 50%;
  transform: translateY(-50%);
}
header .burger .burger-line:nth-child(3) {
  transition: 0.5s;
  bottom: 0;
}
header .burger:hover .burger-line:nth-child(1) {
  transform: translateY(-50%) rotate(45deg);
  top: 50%;
}
header .burger:hover .burger-line:nth-child(2) {
  opacity: 0;
}
header .burger:hover .burger-line:nth-child(3) {
  transform: translateY(50%) rotate(-45deg);
  bottom: 50%;
}

header {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: #1E1E1E;
}
header .page-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header img {
  height: 2em;
}
header .logo-nav nav {
  display: none;
}
header .header-right-side {
  display: flex;
  align-items: center;
}
header .header-right-side i {
  color: #FBFBFB;
  padding: 15px 20px;
  font-size: 24px;
}
header .header-right-side .subscribe {
  display: none;
}
header .header-right-side .right-side-logo {
  display: none;
}
@media screen and (min-width: 860px) {
  header {
    padding: 10px 0;
  }
  header .logo-nav {
    display: flex;
    align-items: center;
  }
  header .logo-nav img {
    margin-right: 40px;
  }
  header .logo-nav nav {
    display: block;
  }
  header .logo-nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  header .logo-nav a {
    display: block;
    color: #FBFBFB;
    text-decoration: none;
    padding: 15px 20px;
    transition: 0.3s;
    font-weight: 700;
  }
  header .logo-nav a:hover {
    color: #FC3869;
  }
  header .header-right-side .subscribe {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: #FC3869;
    margin-right: 40px;
    font-weight: 700;
  }
  header .header-right-side .subscribe:hover:not(.right-logo) {
    text-decoration: underline;
  }
  header .header-right-side .search {
    margin: 0;
  }
  header .header-right-side .search:hover i {
    color: #FC3869;
  }
  header .header-right-side .burger {
    display: none;
  }
  header .header-right-side .right-side-logo {
    display: block;
  }
  header .header-right-side .right-side-logo .right-logo {
    display: flex;
    align-items: center;
    margin: 0;
    text-decoration: none;
  }
  header .header-right-side .right-side-logo .right-logo img {
    height: 1.5em;
  }
  header .header-right-side .right-side-logo .right-logo i {
    font-size: 0.8em;
    padding: 0;
  }
}

main .fold-container {
  width: 100%;
  position: relative;
  overflow: hidden;
}
main .fold-container img {
  transition: 0.3s;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  object-fit: cover;
}
main .fold-container::after {
  content: "";
  transition: 0.3s;
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 0;
  background: linear-gradient(135deg, #1E1E1E 50%, #FBFBFB 50%, #FBFBFB 50%);
}
main .fold-container::before {
  content: "";
  display: block;
  padding-top: 100%;
}
main .fold-container:hover::after {
  height: 2em;
  width: 2em;
}
main .fold-container:hover img {
  transform: scale(1.2);
}

main section#form::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 2em;
  height: 2em;
  background: linear-gradient(45deg, #FC3869 50%, #1E1E1E 50%);
}

main .page-inner {
  padding: 60px 10px;
}
main section#featured {
  font-size: 2rem;
}
main section#featured .fold-container {
  max-height: 60vh;
  margin-bottom: 40px;
}
main section#featured h3 {
  font-size: 3rem;
}
main section#news h2 {
  margin: 0 0 40px;
  color: #FBFBFB;
}
main section#news .grid-container {
  display: grid;
  grid: auto/1fr 1fr;
  grid-gap: 30px;
}
main .details a {
  text-decoration: none;
}
main .details .class-name,
main .details .author {
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: 700;
}
main .details .class-name {
  color: #FC3869;
}
main .details .author {
  color: #696969;
}
main .details .class-name:hover,
main .details .author:hover {
  text-decoration: underline;
}
main section#form {
  font-size: 3em;
  overflow: hidden;
  position: relative;
}
main section#form .page-inner {
  padding: 0 10px;
}
main section#form iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100vw;
  width: 180vw;
  min-height: 130vh;
  min-width: 180vh;
  transform: translate(-50%, -50%);
  z-index: -1;
}
@media screen and (min-width: 700px) {
  main section#form {
    font-size: 5em;
  }
}
@media screen and (min-width: 860px) {
  main section#recent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 60px;
  }
  main section#featured article {
    position: sticky;
    top: 4em;
  }
  main section#form {
    font-size: 10em;
  }
}
@media screen and (min-width: 1024px) {
  main section#news .grid-container {
    grid-template-columns: 1fr;
  }
  main section#news article {
    display: grid;
    grid: auto/1fr 2fr;
    grid-gap: 30px;
  }
}

.details span {
  color: #FBFBFB;
  background-image: linear-gradient(#FBFBFB, #FBFBFB);
  background-position: 0 bottom;
  background-size: 0 0.1em;
  background-repeat: no-repeat;
  transition: 0.2s;
}
.details span:hover {
  background-size: 100% 0.1em;
}

form {
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 2em;
  margin: 4em 0;
  font-size: 2rem;
}
form input {
  outline: none;
  border: none;
  font-size: 100%;
  color: #FBFBFB;
}
form input:not([type=submit]) {
  display: block;
  width: 100%;
  border-bottom: 0.1em solid #FC3869;
  margin-bottom: 1em;
  background-color: transparent;
}
form input[type=submit] {
  text-transform: uppercase;
  border-radius: 1em/50%;
  padding: 1em 3em;
  font-size: 1rem;
  background-color: #FC3869;
  cursor: pointer;
  transition: background-color 0.3s;
}
form input[type=submit]:hover {
  background-color: #fb0643;
}
@media screen and (min-width: 700px) {
  form {
    width: 50%;
  }
}

footer {
  text-transform: uppercase;
  font-size: 0.8rem;
  background-color: black;
}
footer ul {
  list-style: none;
  padding: 4em 0;
  margin: 0;
  display: grid;
  grid-gap: 1em;
  justify-content: center;
  text-align: center;
}
footer ul a {
  text-decoration: none;
  color: #FBFBFB;
  font-weight: 700;
  transition: 0.2s;
}
footer ul a:hover {
  color: #c8c8c8;
}
@media screen and (min-width: 860px) {
  footer ul {
    grid: 1fr/auto-flow;
    justify-content: space-between;
  }
}

body h1 {
  position: fixed;
  bottom: 10px;
  left: 10px;
  z-index: 2;
  margin: 0;
  padding: 0.2em 1em;
  font-size: 2em;
  background-color: rgba(0, 0, 0, 0.7);
}
body h1 a {
  font-size: 0.4em;
  display: block;
  color: #FBFBFB;
  text-decoration: none;
  text-transform: uppercase;
  border-bottom: 2px solid #FBFBFB;
  padding-bottom: 5px;
  transition: 0.2s;
}
body h1 a:hover {
  color: #FC3869;
  border-bottom: 2px solid #FC3869;
}
@media screen and (min-width: 1024px) {
  body h1 {
    padding: 0;
    background-color: transparent;
    bottom: auto;
    top: 50%;
    left: 10px;
    transform: translateY(-50%) rotate(90deg);
  }
}

/*# sourceMappingURL=style.css.map */
