@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

*, *::after, *::before {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
.grid-container {
  display: grid;
  grid: auto-flow 100px / repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 5px 10px;
}
.item {
  border: 1px dashed black;
  background: rgba(100, 180, 120, 0.5);
}
