* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
}
h1 {
  color: white;
  padding: 20px 0 15px;
}
h2 {
  padding: 60px 0 20px;
  text-align: center;
}
header a {
  color: white;
  padding: 0 25px;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.content {
  width: 70%;
  margin: 0 auto;
}
header {
  height: 100px;
  background-color: blue;
  text-align: center;
}
.apiemus {
  height: 400px;
  background-color: white;
  border-bottom: 1px solid black;
}
.apiemus img {
  display: inline-block;
  padding: 0 15px 0 10px;
}
.text {
  display: inline-block;
  width: 75%;
  vertical-align: top;
  text-align: center;
}
p {
  text-align: justify;
}
.p_2 {
  padding: 20px 0;
}
.text a {
  padding: 10px 5px;
  background-color: blue;
  border-radius: 10px;
  color: white;
}
.paslaugos, .container {
  height: 300px;
  background-color: white;
  border-bottom: 1px solid black;
  text-align: center;
}
ul {
  display: inline-block;
  width: calc(50% - 12px);
  height: 45%;
  border: 2px solid black;
  border-radius: 10px;
  text-align: left;
  vertical-align: top;
  padding-left: 35px;
}
th {
  background-color: orange;
}
