* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
table {
  height: 80vh;
  width: 37vw;
}
table, tr, td {
  border: 1px solid black;
}
.green {
  background-color: green;
}
.red {
  background-color: red;
}
.blue {
  background-color: blue;
}
