@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

*:not(.fas), *::after:not(.fas), *::before:not(.fas) {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
:root {
  --main-green: #369199;
  --hover-green: #328890;
  --button-bg: #E9AE32;
  --button-border-grey: #E8E8E8;
}
body {
  margin: 0;
}
.wrapper {
  padding: 0 20px;
}
section {
  margin-bottom: 50px;
}

/* HEADER START*/

header {
  position: sticky;
  top: 0;
  background: white;
  z-index: 1;
}
header .header-top {
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header img {
  max-width: 120px;
  transform: translateX(10%);
}
header .language-mobile a {
  color: var(--main-green);
  font-size: 14px;
  text-decoration: none;
}
header .language-mobile a:not(:last-child) {
  margin-right: 10px;
}
header .language-mobile a:hover {
  text-decoration: underline;
}
header .desktop-nav {
  display: none;
}
header nav {
  display: flex;
  height: 44px;
}
header nav a {
  width: 25%;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--main-green);
}
header nav a:hover {
  background: var(--hover-green);
}
header nav a span,
header nav a i {
  color: white;
  font-size: 8px;
  text-transform: uppercase;
}
header nav .fas {
  font-size: 18px;
  margin-bottom: 5px;
}

/* BURGER START */

.burger {
  height: 20px;
  width: 25px;
  position: relative;
  cursor: pointer;
  transform: translatex(-50%);
}
.burger-line {
  height: 2px;
  width: 100%;
  background-color: var(--main-green);
  position: absolute;
}
.burger-line:nth-child(1) {
  transition: 0.3s;
  top: 0;
}
.burger-line:nth-child(2) {
  transition: 0.1s;
  top: 50%;
  transform: translateY(-50%);
}
.burger-line:nth-child(3) {
  transition: 0.5s;
  bottom: 0;
}
.burger:hover .burger-line:nth-child(1) {
  transform: translateY(-50%) rotate(45deg);
  top: 50%;
}
.burger:hover .burger-line:nth-child(2) {
  opacity: 0;
}
.burger:hover .burger-line:nth-child(3) {
  transform: translateY(50%) rotate(-45deg);
  bottom: 50%;
}

/* BURGER END */
/* HEADER END */

/* HERO SECTIO START */

section#hero {
  height: 36vh;
  background: url('https://www.inmedica.lt/data/public/thumbnails/2017/11/crop_1920x768_d2_nauja-inmedica-klinika-santariskese-1920x768.jpg');
  background-size: cover;
  background-position: 80% 0;
  position: relative;
}
section#hero .black-filter {
  height: 100%;
  background: linear-gradient(-45deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.1));
}
section#hero .info-button {
  display: flex;
  position: absolute;
  bottom: 50px;
  left: 50px;
  text-decoration: none;
  background: white;
  color: var(--main-green);
  font-size: 13px;
  text-transform: uppercase;
  border-radius: 25px;
  align-items: center;
  padding: 5px 25px;
}
section#hero .info-button span {
  margin-right: 15px;
}
section#hero .info-button:hover {
  background: var(--button-bg);
  color: white;
}
section#hero .desktop-paslaugos {
  display: none;
}

/* SECTION HERO END */

/* SECTION PASLAUGOS START */

section#paslaugos .wrapper {
  display: grid;
  grid: auto-flow 215px / repeat(auto-fit, minmax(173px, 1fr));
  grid-gap: 15px;
}
section#paslaugos article {
  box-shadow: 0px 0px 30px 10px rgba(214,214,214,0.5);
}
section#paslaugos a {
  text-decoration: none;
}
section#paslaugos .seimos-medicina {
  background: url('https://www.inmedica.lt/data/public/uploads/2018/05/seima1.jpg');
}
section#paslaugos .odontologija {
  background: url('https://www.inmedica.lt/data/public/uploads/2018/10/wallsend-dental-surgery-wallsend-2287-image.jpg');
}
section#paslaugos .dienos-chirurgija {
  background: url('https://www.inmedica.lt/data/public/uploads/2019/07/adult-ambulance-care-263210.jpg');
}
section#paslaugos .kraujagysliu-chirurgija {
  background: url('https://www.inmedica.lt/data/public/uploads/2019/07/vascular3.png');
}
section#paslaugos .kardiologija {
  background: url('https://www.inmedica.lt/data/public/uploads/2018/10/4.jpg');
}
section#paslaugos .gastroenterologija {
  background: url('https://www.inmedica.lt/data/public/uploads/2018/10/file54896839_62824ef0.jpg');
}
section#paslaugos .ginekologija {
  background: url('https://www.inmedica.lt/data/public/uploads/2018/05/genetiniai-tyrimai_2.jpg');
}
section#paslaugos .genetika {
  background: url('https://www.inmedica.lt/data/public/uploads/2018/10/dna_test_2-28-18.jpg');
}
section#paslaugos .urologija {
  background: url('https://www.inmedica.lt/data/public/uploads/2018/10/urologist.jpg');
}
section#paslaugos .neurologija {
  background: url('https://www.inmedica.lt/data/public/uploads/2018/10/neurologia-capa.jpg');
}
section#paslaugos .endokrinologija {
  background: url('https://www.inmedica.lt/data/public/uploads/2018/10/endocrinology-treatment-in-london-the-london-psychiatry-centre-1.jpg');
}
section#paslaugos .ortopedija {
  background: url('https://www.inmedica.lt/data/public/uploads/2018/10/ortopedi-ve-tramvatoloji-1110x550.jpg');
}
section#paslaugos .lor {
  background: url('https://www.inmedica.lt/data/public/uploads/2018/10/otite_robertokalil.jpg');
}
section#paslaugos .pulmonologija {
  background: url('https://www.inmedica.lt/data/public/uploads/2018/10/fotolia_138376049_subscription_monthly_m.jpg');
}
section#paslaugos .dietologija {
  background: url('https://www.inmedica.lt/data/public/uploads/2018/10/c700x420.jpg');
}
section#paslaugos .psichologija {
  background: url('https://www.inmedica.lt/data/public/uploads/2018/05/voprosy-psichologu.jpg');
}
section#paslaugos .vaiku-ligos {
  background: url('https://www.inmedica.lt/data/public/uploads/2018/10/childrens-health-doctors_thumb.jpg');
}
section#paslaugos .paslaugos-imonems {
  background: url('https://www.inmedica.lt/data/public/uploads/2018/10/composition-3309860_1280.jpg');
}
section#paslaugos .reabilitacija {
  background: url('https://www.inmedica.lt/data/public/uploads/2019/10/f2a91e0789af51ba43cb6456037a47b9.jpg');
}
section#paslaugos .img-settings {
  height: 65%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
section#paslaugos .paslaugos-title {
  display: flex;
  height: 35%;
  align-items: center;
  justify-content: center;
}
section#paslaugos .paslaugos-title span {
  color: var(--main-green);
  font-weight: bold;
  text-align: justify;
}
section#paslaugos a:hover .paslaugos-title,
section#paslaugos a:hover .paslaugos-title span {
  background: var(--hover-green);
  color: white;
}

/* SECTION PASLAUGOS END */
/* SECTION NEWS START */

section#news .wrapper {
  text-align: center;
}
section#news h2 {
  text-transform: uppercase;
  font-size: 22px;
  color: var(--main-green);
}
section#news i {
  color: var(--button-border-grey);
  margin: 0 15px;
}
section#news h3:after,
section#news h3:before {
  content: '';
  display: inline-block;
  width: 40%;
  background: var(--button-border-grey);
  height: 1px;
  vertical-align: middle;
}
section#news .news-buttons {
  height: 48px;
  width: 320px;
  border: 1px solid var(--button-border-grey);
  border-radius: 20px;
}
