@use 'variables' as *;

form {
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 2em;
  margin: 4em 0;
  font-size: 2rem;

  input{
    outline: none;
    border: none;
    font-size: 100%;
    color: $white;

    &:not([type="submit"]) {
      display: block;
      width: 100%;
      border-bottom: .1em solid $pink;
      margin-bottom: 1em;
      background-color: transparent;
    }
    &[type="submit"] {
      text-transform: uppercase;
      border-radius: 1em / 50%;
      padding: 1em 3em;
      font-size: 1rem;
      background-color: $pink;
      cursor: pointer;
      transition: background-color .3s;
    }
    &[type="submit"]:hover {
      background-color: #fb0643;
    }
  }
  @media screen and (min-width: 700px) {
    width: 50%;
  }
}
