@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

*:not(i), *::after:not(i), *::before:not(i) {
  box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}
html {
  font-family: 'Muli', sans-serif;
  font-size: 14px;
}
